@page "/"

<div class="monitor-container">
    <div class="header">
        <h3>Smart Power Monitor</h3>
        <button class="btn @(_isLogging ? "btn-danger" : "btn-success")" @onclick="ToggleLogging" style="margin-left: auto; margin-right: 10px;">
            @(_isLogging ? "Stop Logging" : "Start Logging")
        </button>
        <button class="btn btn-primary" @onclick="Calibrate" style="margin-right: 10px;">Calibrate</button>
        <button class="btn btn-secondary" @onclick="GoToLogs" style="margin-right: 10px;">View Logs</button>
        <div class="status-chip @(_status.ToLower())">
            @_status
        </div>
    </div>

    <div class="rms-display" style="font-size: 1.5rem">
        <div style="display:inline-block">RMS Current: @((float)_lastRms / 1000) A</div>
    </div>

    <div class="svg-wrapper">
        <div class="monitor-container" style="background: #fff; border: 1px solid #ccc">
            <svg viewBox="0 0 5000 3000" width="5000" height="3000" preserveAspectRatio="none" style="width:100%; height:200px; border: 1px solid #ccc; background-color:aliceblue">
                <line x1="0" y1="1500" x2="5000" y2="1500" stroke="silver" stroke-width="1" vector-effect="non-scaling-stroke" />

                <polyline points="@_pointsCrn" fill="none" stroke="blue" stroke-width="1.5" vector-effect="non-scaling-stroke" />
            </svg>
        </div>
    </div>
    <br />

    <div class="svg-wrapper">
        <div class="monitor-container" style="background: #fff; border: 1px solid #ccc">
            <svg viewBox="0 0 5000 3000" width="5000" height="3000" preserveAspectRatio="none" style="width:100%; height:200px; border: 1px solid #ccc; background-color:mintcream">
                <line x1="0" y1="1500" x2="5000" y2="1500" stroke="silver" stroke-width="1" vector-effect="non-scaling-stroke" />

                <polyline points="@_pointsRms" fill="none" stroke="blue" stroke-width="1.5" vector-effect="non-scaling-stroke" />
            </svg>
        </div>
    </div>

    <div class="footer-info">
        <span>Device: 192.168.4.1</span>
        <span>Resolution: 200μs/Sample</span>
    </div>
</div>